  
  ion-card-content {
    text-align: center; /* Centrar contenido horizontalmente */
  }
  
  .centrar-boton {
    margin: 0 auto; /* Centrar el botón horizontalmente */
    display: block; /* Asegurarse de que ocupe todo el ancho disponible */
  }